@model IEnumerable<SACAAE.Models.Aula>

@{
    ViewBag.Title = "Aulas";
    Layout = "~/Views/Shared/Privado.cshtml";
}
   
@section Scripts {
    
    <script type="text/javascript">
        $(document).ready(function () {
            
            /* Funcion llamada cuando se cambien los valores de las sedes o las modalidades */
            $("#selectSede").change(function () {

                var route = "/Aula/Aulas/List/" + $('select[name="selectSede"]').val();
                //alert(route);

                $.getJSON(route, function (data) {
                    var items = "<thead><tr><th>Código</th><th>Capacidad</th><th>Activa</th><th>Acciones</th></tr></thead><tbody>";
                    $.each(data, function (i, aula) {
                        var newLink = '<a href="@Url.Action("ModificarAula")/' + aula.ID + '">Editar</a> | <a href="@Url.Action("EliminarAula")/' + aula.ID + '">Eliminar</a>';
                        items += "<tr><td>" + aula.Codigo + "</td>";
                        items += "<td>" + aula.Espacio + "</td>";
                        items += '<td><input type="checkbox" checked="'+aula.Activa+'" disabled></td><td>' + newLink + "</td></tr>";
                    });

                    if (items != "") {
                        items += "</tbody>";
                        $("#datosAula").html(items);
                        $("#datosAula").tablesorter();
                        }
                    });
                });
            });
    </script>
    <script type="text/javascript" src="../Scripts/jquery.tablesorter.js"></script>
}


<div class="row">
    <h2>Aulas</h2>
    <div class="span12">
        @if (TempData.ContainsKey("MessageError"))
        {
            <p class="text-danger">@TempData["MessageError"].ToString()</p>
        }
        @if (TempData.ContainsKey("MessageSuccess"))
        {
            <p class="text-success">@TempData["MessageSuccess"].ToString()</p>
        }
        <p>
            @Html.ActionLink("Crear Nueva Aula", "CrearAula")
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
    <div class="span12">
        <label>Sede</label>
        <br />
        <select id="selectSede" name="selectSede" class="form-control">
            @if (ViewBag.Sedes != null)
                        {
                            <option value=" " selected="selected">-- Seleccionar Sede --</option>
                            foreach (var item in ViewBag.Sedes)
                            {         
                            <option value="@item.ID">@item.Nombre</option>
                            }
                        }
                        else
                        {
                            <option selected="selected">No hay sedes</option>
                        }
        </select>
        <br />
    </div>
</div>
<br />
<div class="row">
    <div class="span12">
        <table id="datosAula" class="table">
        </table>
    </div>
</div>
</div>