@model IEnumerable<SACAAE.Models.Proyecto>


@{
    ViewBag.Title = "Proyectos";
    Layout = "~/Views/Shared/Privado.cshtml";
}


<div class="row">
        
    <h2>Lista de Proyectos</h2> 
    <div class="span12">
        @if (TempData.ContainsKey("Message"))
        {
            <p class="text-success">@TempData["Message"].ToString()</p>
        }
        <p>
            @Html.ActionLink("Nuevo Proyecto", "Crear")
        </p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @item.Inicio.Value.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.Fin.Value.ToString("dd/MM/yyyy")
                    </td>

                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.Link)">Enlace del proyecto</a>
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
            @Html.ActionLink("Detalles", "Detalles", new { id = item.ID }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
