@model SACAAE.Models.Grupo
@{
    ViewBag.Title = "CrearGrupo";
    Layout = "~/Views/Shared/Privado.cshtml";
}

@section Scripts {

    <script src="@Url.Content("~/Scripts/ajaxCrear.js")"></script> <!--de necesitar revisar los select en cascada, la funcionalidad se encuentra-->
                                                                        <!-- en el archivo referenciado. Carpeta Scripts-->
}

<div class="col-lg-4">
    <h2>Crear Grupo</h2>
        
    @if (TempData.ContainsKey("MessageError"))
    {
        <p class="text-danger">@TempData["MessageError"].ToString()</p>
    }
    @if (TempData.ContainsKey("MessageSuccess"))
    {
        <p class="text-success">@TempData["MessageSuccess"].ToString()</p>
    }

    <p>
        @Html.ActionLink("Eliminar Grupo", "eliminarGrupo")
    </p>
    
    <label>Nombre del Grupo</label>
    <br />
    @using (Html.BeginForm())
    {


        @Html.TextBoxFor(model => model.Numero, new
               {
                   @class = "form-control",
                   @placeholder = "Nombre del grupo",
                   @required = "true"
               })
        @Html.ValidationMessageFor(model => model.Numero)

        <label>Sede</label>
        <br />
        <select id="selectSede" name="selectSede"></select>
        <br />
        <label>Modalidad</label>
        <br />
        <select id="selectModalidad" name="selectModalidad"></select>
        <br />
        <label>Plan de Estudio</label>
        <br />
        <select id="selectPlan" name="selectPlan"></select>
        <br />
        <label>Bloque</label>
        <br />
        <select id="selectBloque" name="selectBloque"></select>
        <br /> <br />
        <input type="submit" value="Crear" />
    }
</div>


