@model SACAAE.Models.Comisione

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/Privado.cshtml";
}

<div class="col-lg-4">
    <h2>Eliminar Comisi&oacute;n</h2>
    <hr />
    <div class="span12">
        <h4><span class="label label-warning">¿Est&aacute; seguro de que desea eliminar la informaci&oacute;n de esa Comisi&oacute;n?</span></h4>
        <br />

        <h4>
            <span class="label label-info">
                @Html.DisplayNameFor(model => model.Nombre)

                @Html.DisplayFor(model => model.Nombre)
            </span>
        </h4>

        <h4>
            <span class="label label-info">
                @Html.DisplayNameFor(model => model.Inicio)

                @Html.DisplayFor(model => model.Inicio)
            </span>
        </h4>
        <h4>
            <span class="label label-info">
                @Html.DisplayNameFor(model => model.Fin)

                @Html.DisplayFor(model => model.Fin)
            </span>
        </h4>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" value="Eliminar" class="btn" />
                |
        @Html.ActionLink("Regresar", "Index")
            </p>
        }
    </div>
</div>
